.Carousel{
    text-align: center;

}
.Carousel1{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../../img/slide1.jpg) repeat;

}

.Carousel2{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../../img/slide2.jpg");

}

.Carousel3{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../../img/slide3.jpg");

}
